[submodule "app/mini_markdown"]
	path = app/mini_markdown
	url = https://github.com/yiyuezhuo/mini-Markdown-MathJax-editor
[submodule "games/sengokushi"]
	path = games/sengokushi
	url = https://github.com/yiyuezhuo/sengokushi-port-javascript.git
[submodule "app/function_plot"]
	path = app/function_plot
	url = https://github.com/yiyuezhuo/function-plot.git
